<style>
		html, body {
			height: 100%;
			margin: 0;
}


		#h1	{
			font-family: courier;
}

		#greyheader {
			height: 150px;
			width: 100%;
			background: grey;
			border: 2px solid grey;
}

		#logo	{
			height: 100%;
			width: 100%;
			
			
			.button {
 			 font: bold 11px Arial;
 			 text-decoration: none;
 			 background-color: linear-gradient(<angle>, color1 color1-stop-at, color2 color2-start-at);
			 color: #333333;
 			 height: 100%;
			 width: 100%;
  
}
			
			img {
				display: block;
				margin-left: 75px;
				margin-right: 50%;
}	
	</style>
